@model BeerPongTracker.Website.Models.GameViewModel

<div class="four-player-table-container">
    @Html.Partial("Props/_FourPlayerTable", Model.TableCupCoversViewModel)
    @if (Model.RemoteView == false)
    {
        <div class="four-player-table-container__stats four-player-table-container__stats--p1">
            @Html.Partial("Stats/_TeamStats", Model.TeamStatsViewModels[1].WithAlignment("left"))
        </div>
        <div class="four-player-table-container__stats four-player-table-container__stats--p2">
            @Html.Partial("Stats/_TeamStats", Model.TeamStatsViewModels[2].WithAlignment("left"))
        </div>
        <div class="four-player-table-container__stats four-player-table-container__stats--p3">
            @Html.Partial("Stats/_TeamStats", Model.TeamStatsViewModels[3].WithAlignment("right"))
        </div>
        <div class="four-player-table-container__stats four-player-table-container__stats--p4">
            @Html.Partial("Stats/_TeamStats", Model.TeamStatsViewModels[4].WithAlignment("right"))
        </div>
    }
</div>