<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
</head>
<body>
    <div class="margin">
        @RenderBody()
        @RenderSection("SPAViews", required: false)
    </div>
	<div class="image-preloader" style="visibility:hidden">
		<img class="three-player-table__table-graphic" src="~/Content/Images/3table.jpg" />
		<img class="four-player-table__table-graphic" src="~/Content/Images/4table.jpg" />
	</div>
    @RenderSection("Scripts", required: false)
</body>
</html>
