@model BeerPongTracker.Website.Models.TeamStatsViewModel

<div class="entity team-stats team-info team-info--@Model.Alignment">
    <div class="team-info__block team-info__block--1">
        @Html.Partial("Stats/_Avatar", @Model.AvatarViewModel)
    </div>
    <div class="team-info__block team-info__block--2">
        @Html.Partial("Stats/_Health", @Model.HealthViewModel)
        @Html.Partial("Stats/_TeamName", @Model.TeamNameViewModel)
    </div>
</div>
